<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qyxy.mapper.ShowMapper">
       <select id="selectPermission" resultType="Upermission">
            select p.* from Upermission p where p.upermissionid in(
           select q.upermissionid from Urole_permission q where q.uroleid in(
           select e.uroleid from urole e where e.urolename=#{urolename}
           )
           )
       </select>
</mapper>